<article class="taskboard__group taskboard__group--{{status}}">
  <h3 class="taskboard__group-heading taskboard__group-heading--{{status}}">{{statusLabel}}</h3>
  <div class="taskboard__list">
    <ng-container *ngFor="let task of tasks">
      <div class="taskboard__item task task--{{task.status}}">
        <div class="task__body">
          <p class="task__view">{{task.title}}</p>
          <input class="task__input" type="text" value="{{task.title}}">
        </div>
        <button class="task__edit" type="button" aria-label="Изменить"></button>
      </div>
    </ng-container>
    <ng-container *ngIf="!tasks.length">
      <div class="task--empty task task--empty-trash">
        <p>{{message}}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="isBasket && tasks.length">
      <button class="taskboard__button button button--clear" type="button">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="15.5374" y="5.16638" width="1.83333" height="14.6667" transform="rotate(45 15.5374 5.16638)"
                fill="white" />
          <rect x="16.8337" y="15.5372" width="1.83333" height="14.6667" transform="rotate(135 16.8337 15.5372)"
                fill="white" />
        </svg>
        <span>Очистить</span>
      </button>
    </ng-container>
  </div>
</article>
